<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="x-content-type-options=nosniff" />
    <meta name="apple-mobile-web-app-title" content="Facets!" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="theme-color" id="themeColor" content="rgb(5, 23, 36)" />

    <title>Facets</title>

    <meta name="description" content="A game of matching facets of words with other words." />
    <meta name="keywords" content="casual, video, game, boardgame" />

    <link id="appleicon" rel="apple-touch-icon" sizes="180x180" href="images/icon180-guessing.png" />
    <link rel="icon" type="image/png" sizes="512x512" href="images/icon512-guessing.png" />
    <link rel="icon" type="image/png" sizes="128x128" href="favicon.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
    <link rel="stylesheet" href="styles/normalize.css" media="screen" />
    <link rel="stylesheet" href="styles/main-min.css" media="screen" />
    <link rel="stylesheet" href="styles/checkbox-min.css" media="screen" />
  </head>

  <body>
    <app id="app" v-cloak :class="{guessing: isGuessing, reviewing: player.role === 'reviewer'}" @pointerdown="HandleBodyPointerDown(event)" @pointerup="HandleBodyPointerUp(event, isDragging ? draggedCard : getSelectedCard)">
      <input maxlength="0" :disabled="isGuessing" id="parkingInput" style="opacity: 0; width: 0px; height: 0px; overflow: hidden; position: absolute; z-index: -1" tabindex="-1" />
      <modal :class="{disabled: !showModal}" @click="showModal = showSettings || showIntro ? true : false">
        <intro v-if="showIntro && showModal">
          <message>Hello! What's your name?</message>
          <input spellcheck="false" maxlength="14" id="nameInput" placeholder="_ _ _ _ _ _" v-model="tempName" />
          <controls><button class="secondary" @click="CancelSettings(event)">Cancel</button><button @click="SubmitSettings(event)">Save</button></controls>
        </intro>
        <settings v-if="showSettings && showModal">
          <message>Your name</message>
          <section>
            <input spellcheck="false" maxlength="14" id="nameInput" placeholder="_ _ _ _ _ _" onpointerup="this.select()" v-model="tempName" />
          </section>
          <message>Puzzle category {{isGuessing ? '(disabled while guessing)' : ''}}</message>
          <section :class="{disabled: isGuessing}">
            <wordsets>
              <wordset @click="SelectWordSet(event, set)" :class="{selected: set.isSelected}" v-if="set.enabled" v-for="set in getEnabledTempWordSets">{{set.name}}</wordset>
            </wordsets>
          </section>
          <!-- <message>Appearance</message>
          <checkbox :class="{on: tempUseWordSetThemes}" @click="ToggleTempUseWordSetThemes()">
            Use word themes
            <toggle></toggle>
          </checkbox> -->
          <controls><button class="secondary" @click="CancelSettings(event)">Cancel</button><button @click="SubmitSettings(event)">Save</button></controls>
          <version>Version {{version}}</version>
        </settings>
        <picker v-if="!showSettings && !showIntro && showModal">
          <hintcard>
            <card>
              <words>
                <word>{{hints[0].value}}</word>
                <word>{{hints[1].value}}</word>
                <word>{{hints[3].value}}</word>
                <word>{{hints[2].value}}</word>
              </words>
            </card>
          </hintcard>
          <message>Choose a card</message>
          <cards>
            <card @click="HandlePickerCardClicked(event, card)" v-for="card in getAllCards" :disabled="!showModal" :class="{disabled: card.isInTray || !showModal}">
              <words>
                <word v-for="word in card.words">{{word.value}}</word>
              </words>
            </card>
            <spot v-if="draggedCard && draggedCard.words.length > 0" :class="{disabled: !showModal}" class="empty" @click="HandlePickerCardClicked(event, null)"><icon class="recycle"></icon>Put back</spot>
          </cards>
        </picker>
      </modal>
      <tutorial :class="{disabled: !showTutorial}"> </tutorial>
      <wrapper>
        <controls>
          <button class="inline" @click="NewGame(event)"><span>New</span><icon class="add"></icon></button>
        </controls>
        <header>
          <hgroup>
            <h1>{{gameName}}</h1>
            <subtitle>
              <button class="inline" @click="OpenSettings()">Settings<icon class="settings"></icon></button
            ></subtitle>
          </hgroup>
        </header>
        <controls>
          <button class="inline" @click="HandleSubmitButtonPress()" :class="{disabled: !isGuessing && getNumberOfHintsThatHaveBeenFilled !== 4}">
            <icon class="share"></icon>
            <span>Send</span>
          </button>
        </controls>
      </wrapper>
      <wrapper>
        <message v-if="message !== ''">{{ message}}</message>
        <message v-if="message === ''">{{getPlayerMessage}}</message>
      </wrapper>
      <wrapper>
        <rotators>
          <button class="clockwise" @click="RotateTray(1)"><icon class="rotate"></icon></button>
          <button class="anticlockwise" @click="RotateTray(-1)"><icon class="rotate"></icon></button>
        </rotators>
      </wrapper>
      <wrapper>
        <card class="ghost selected" :style="{transform: 'translate(' + ghostX + 'px, ' + ghostY + 'px)'}" :class="{show: isDragging && !showModal, empty: draggedCard.words.length === 0}">
          <words>
            <word v-for="word in draggedCard.words">{{word.value}}</word>
          </words>
        </card>
      </wrapper>
      <wrapper>
        <parking>
          <spot v-for="(card, index) in parkedCards" v-if="index < 3" :class="{empty: card.words.length === 0, selected: card.isSelected}">
            <rotators>
              <button class="clockwise" @pointerdown="RotateCard(event, card, 1)"><icon class="rotate"></icon></button>
              <button class="anticlockwise" @pointerdown="RotateCard(event, card, -1)"><icon class="rotate"></icon></button>
            </rotators>
            <card @click="HandleCardClick(event, card)" @pointerup="HandleCardPointerUp(event, card)" @pointerdown="HandleCardPointerDown(event, card)" :style="{rotate: (card.rotation * 90) + 'deg'}" :class="{rotating: card.isRotating, selected: card.isSelected, dropped: card.justDropped}">
              <words>
                <word v-for="word in card.words">{{word.value}}</word>
              </words>
            </card>
            <rotators>
              <button class="clockwise" @click="RotateCard(event, card, 1)"><icon class="rotate"></icon></button>
              <button class="anticlockwise" @click="RotateCard(event, card, -1)"><icon class="rotate"></icon></button>
            </rotators>
          </spot>
        </parking>
        <tray :class="{rotating: trayIsRotating}" :style="{rotate: trayRotation * 90 + 'deg'}">
          <diamond class="back"></diamond>
          <diamond></diamond>
          <hints>
            <hint @pointerdown="RotateTrayBasedOnInputFocus(index)" v-for="(hint, index) in hints" :key="index">
              <input spellcheck="false" :id="'hint' + index" :disabled="isGuessing || index > 0" v-model="hint.value" maxlength="14" :tabindex="index + 1" type="text" onfocus="this.placeholder=''" onblur="this.placeholder='tap'" placeholder="tap" />
            </hint>
          </hints>
          <cards :class="{disabled: showModal}">
            <spot v-for="(card, index) in cards" v-if="!card.isExtra" :class="{empty: card.words.length === 0, selected: card.isSelected}">
              <rotators>
                <button class="clockwise" @click="RotateCard(event, card, 1)"><icon class="rotate"></icon></button>
                <button class="anticlockwise" @click="RotateCard(event, card, -1)"><icon class="rotate"></icon></button>
              </rotators>
              <card @click="HandleCardClick(event, card)" @pointerup="HandleCardPointerUp(event, card)" @pointerdown="HandleCardPointerDown(event, card)" :style="{rotate: (card.rotation * 90) + 'deg'}" :class="{rotating: card.isRotating, selected: card.isSelected, dropped: card.justDropped}">
                <words>
                  <word v-for="word in card.words">{{word.value}}</word>
                </words>
              </card>
              <rotators>
                <button class="clockwise" @click="RotateCard(event, card, 1)"><icon class="rotate"></icon></button>
                <button class="anticlockwise" @click="RotateCard(event, card, -1)"><icon class="rotate"></icon></button>
              </rotators>
            </spot>
          </cards>
        </tray>
        <parking>
          <spot v-for="(card, index) in parkedCards" v-if="index > 2" :class="{empty: card.words.length === 0, selected: card.isSelected}">
            <rotators>
              <button class="clockwise" @click="RotateCard(event, card, 1)"><icon class="rotate"></icon></button>
              <button class="anticlockwise" @click="RotateCard(event, card, -1)"><icon class="rotate"></icon></button>
            </rotators>
            <card @click="HandleCardClick(event, card)" @pointerup="HandleCardPointerUp(event, card)" @pointerdown="HandleCardPointerDown(event, card)" :style="{rotate: (card.rotation * 90) + 'deg'}" :class="{rotating: card.isRotating, selected: card.isSelected, dropped: card.justDropped}">
              <words>
                <word v-for="word in card.words">{{word.value}}</word>
              </words>
            </card>
            <rotators>
              <button class="clockwise" @click="RotateCard(event, card, 1)"><icon class="rotate"></icon></button>
              <button class="anticlockwise" @click="RotateCard(event, card, -1)"><icon class="rotate"></icon></button>
            </rotators>
          </spot>
        </parking>
      </wrapper>
      <wrapper class="mobile">
        <parking>
          <spot v-for="(card, index) in parkedCards" v-if="index < 5" :class="{empty: card.words.length === 0, selected: card.isSelected}">
            <card @click="RotateCard(event, card, -1)" @pointerup="HandleCardPointerUp(event, card)" @pointerdown="HandleCardPointerDown(event, card)" :style="{rotate: (card.rotation * 90) + 'deg'}" :class="{rotating: card.isRotating, selected: card.isSelected, dropped: card.justDropped}">
              <words>
                <word v-for="word in card.words">{{word.value}}</word>
              </words>
            </card>
          </spot>
        </parking>
      </wrapper>
    </app>
    <script src="helpers/console-enhancer.js" type="text/javascript"></script>
    <script src="models/WordSetObject-min.js" type="text/javascript"></script>
    <script src="models/WordObject-min.js" type="text/javascript"></script>
    <script src="models/CardObject-min.js" type="text/javascript"></script>
    <script src="models/PlayerObject-min.js" type="text/javascript"></script>
    <script src="helpers/vue.min.js" type="text/javascript"></script>
    <script src="scripts/facets-min.js" type="text/javascript"></script>
  </body>
</html>
