:root {
    --appForegroundHSL: 0, 0%, 0%;
    --appBackgroundHSL: 255, 100%, 100%;
    --appBackgroundDarkerHSL: var(--appBackgroundHSL);
    --appBackgroundDarkestHSL: var(--appForegroundHSL);
    --borderRadius: 6px;
    --linkColorHSL: 240, 100%, 50%;
}

a {
    border-bottom: 1px solid transparent;
    border-color: transparent;
    background: none;
    text-indent: 0px;
    background: none;
    width: auto;
    height: auto;
}

footer {
    background: hsl(var(--appBackgroundHSL));
    border-top: 1px solid black;
    padding-top: 3px;
}

footer button {
    outline: none;
    background-color: hsl(var(--appBackgroundHSL));
    border: 1px solid hsl(var(--appForegroundHSL));
    background-position: -1px -1px;
    width: 87px;
}

footer button:hover, footer button:focus {
    outline: none;
    background-color: hsl(var(--linkColorHSL));
    background-position: -27px -1px;
    border-color: hsl(var(--linkColorHSL));
}

section.work button:hover span, section.work button:focus span, section.work button:hover span i, section.work button:focus span i {
    opacity: 1;
    background: hsl(var(--linkColorHSL));
    color: hsl(var(--appBackgroundHSL));
}

article, section, header, hgroup, nav, canvas, a, aside, h2, button, span {
    -webkit-transition: none;
    transition: none;
}