checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition-property: background-color, border-color, opacity;
  cursor: pointer;
  border-radius: calc(1 * var(--borderRadius));
  background: hsla(var(--appBackgroundHSL), 0.4);
  padding: calc(0.5 * var(--defaultGap)) calc(1 * var(--defaultGap));
  width: 100%;
  max-width: calc((100% - calc(2 * var(--defaultGap))));
  /* border: 1px solid hsla(var(--appBackgroundHSL), 1); */
  line-height: 140%;
  -webkit-tap-highlight-color: transparent;
  transition: var(--mediumTransition) ease-in-out border-color, background-color;
  user-select: none;
  -webkit-user-select: none;
  backdrop-filter: blur(4px);
  border: 1px solid hsla(var(--appBackgroundHSL), 1);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .015), rgba(255, 255, 255, .015) 40%, rgba(255, 255, 255, 0) 40%), linear-gradient(180deg, rgba(255, 255, 255, .015), rgba(255, 255, 255, 0));
  background-color: hsla(var(--appBackgroundDarkHSL), 0.5);
}

checkbox toggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transition: var(--mediumTransition) ease-in-out all;
  margin: 0px;
  box-shadow: inset 0px 1px 4px hsla(0, 0%, 0%, 0.4);
  border-radius: 13px;
  background: hsla(var(--appBackgroundLighterHSL), 1);
  width: 46px;
  height: 26px;
  overflow: hidden;
}

checkbox:after {
  display: none;
  position: absolute;
  transform: translateX(64px);
  opacity: 0.7;
  transition: var(--mediumTransition) ease-in-out all;
  content: '(off)';
  font-size: 0.8em;
  text-transform: uppercase;
}

checkbox.on:after {
  opacity: 1;
  content: '(on)';
  color: hsl(var(--linkColorLightHSL));
}

checkbox toggle:before {
  display: block;
  transition: var(--mediumTransition) ease-in-out all;
  margin: 2px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  background: hsl(var(--appBackgroundHSL));
  width: 22px;
  height: 22px;
  content: ' ';
  font-family: 'Bangers';
}

checkbox.on toggle {
  background-color: hsl(var(--linkColorLightHSL));
}

checkbox.on toggle:before {
  transform: translateX(20px);
}