app {}

wrapper {
    display: none;
}

wrapper:first-of-type, wrapper.main, wrapper.mobile {
    display: flex;
}

@media screen and (max-width: 660px) {
    .portrait wrapper.mobile {
        position: relative;
    }

    wrapper.mobile parking, .portrait wrapper.mobile parking {
        scale: .8;
        flex-wrap: wrap;
        transform-origin-y: 0%;
        -webkit-transform-origin-y: 0%;
    }
}