:root {
    --hueMainSource: 140;
    --hueMain: 140;
    --hueTheme: 140;
    --hueCreating: 195;
    --hueGuessing: 140;
    --hueReviewing: 335;
    --hueSolved: 235;
    --hueHighlight: 140;

    --appBackgroundLightestHSL: var(--hueTheme), 40%, 50%;
    --appBackgroundLighterHSL: var(--hueTheme), 20%, 71%;
    --appBackgroundHSL: var(--hueTheme), 100%, 83%;
    --appBackgroundDarkHSL: var(--hueTheme), 100%, 92%;
    --appBackgroundDarkestHSL: var(--hueTheme), 100%, 97%;
    --appForegroundHSL: var(--hueTheme), 100%, 06%;
    --appForegroundDiminishedHSL: var(--hueTheme), 0%, 35%;
    --linkColorLightHSL: var(--hueHighlight), 79%, 35%;
    --linkColorDarkHSL: var(--hueHighlight), 69%, 35%;
    --messageColorHSL: var(--hueCreating), 100%, 40%;
    --highlightColorHSL: 50, 100%, 30%;
    --trayBackgroundHSL: var(--hueMain), 100%, 50%;
    --trayCreatingBackgroundHSL: var(--hueCreating), 100%, 50%;
    --trayGuessingBackgroundHSL: var(--hueGuessing), 100%, 40%;
    --trayReviewingBackgroundHSL: var(--hueReviewing), 100%, 57%;
    --traySolvedBackgroundHSL: var(--hueSolved), 86%, 73%;
    --simpleCardForegroundHSL: 0, 0%, 0%;
    --simpleCardBackgroundHSL: 0, 100%, 100%;
    --statBackground: hsla(var(--hueTheme), 100%, 98%, .7);
    --statBorder: hsla(var(--hueTheme), 60%, 80%, 1);

    --textureSource: radial-gradient(circle at center 400px, hsla(var(--appBackgroundDarkestHSL), .7) 1%, hsla(var(--appBackgroundDarkestHSL), .7) 40%, hsla(var(--appBackgroundHSL), 1) 80%);
    /* --texture2: var(--textureSource); */
    --textureSize: cover;
    --textureBlendMode: normal;
    --statShadow: 0px 4px 6px rgba(0, 0, 0, .1);
}

body {
    background-image: linear-gradient(hsla(var(--appBackgroundDarkHSL), 1), hsla(var(--appBackgroundDarkHSL), 0) 200px), var(--textureHue), var(--texture2);
}

modal controls button {
    color: hsl(var(--appBackgroundDarkestHSL));
}

modal controls button.secondary {
    color: hsl(var(--appBackgroundHSL));
}


button badge {
    color: hsl(var(--appBackgroundDarkestHSL));
}

modal controls {
    background-color: hsla(var(--messageColorHSL), 8);
    border-color: hsla(var(--messageColorHSL), 1);
}

message {
    text-shadow: none;
}

notification {
    background: linear-gradient(180deg, hsla(var(--appBackgroundDarkHSL), 1), hsla(var(--appBackgroundHSL), .5) calc(120px));
    backdrop-filter: blur(6px);
}

notification.meta {
    background-image: linear-gradient(hsla(var(--appBackgroundDarkHSL), 1), hsla(var(--appBackgroundDarkHSL), .0) 50%), var(--textureHueSource), var(--textureSource);
}

notification message {
    background-color: hsl(var(--appBackgroundDarkestHSL));
}

header button.small {
    background-color: hsl(var(--messageColorHSL));
    color: hsla(var(--appBackgroundDarkestHSL), 1)
}

tray diamond {
    background-image: url(../images/diamond-light-2.svg);
}

cards card, .multicolor.guessing cards card, .reviewing cards card {
    color: hsl(var(--hueMain), 100%, 14%);
}

.multicolor.creating card {
    color: hsl(var(--hueCreating), 100%, 14%);
}

.multicolor.guessing card {
    color: hsl(var(--hueGuessing), 100%, 14%);
}

.multicolor.guessing.reviewing card {
    color: hsl(var(--hueReviewing), 100%, 14%);
}

.multicolor.solved.guessing card {
    color: hsl(var(--hueSolved), 100%, 14%);
}

card.ghost, card.ghost.empty, .guessing card.ghost.empty, .reviewing card.ghost.empty {
    border-color: hsla(var(--hueMain), 100%, 40%, .7);
}

.multicolor.creating card.ghost {
    border: 1px solid hsla(var(--hueCreating), 100%, 40%, .7);
}

.multicolor.guessing card.ghost {
    border: 1px solid hsla(var(--hueGuessing), 100%, 40%, .7);
}

.multicolor.guessing.solved card.ghost {
    border: 1px solid hsla(var(--hueSolved), 100%, 70%, .7);
}

.multicolor.reviewing card.ghost {
    border: 1px solid hsla(var(--hueReviewing), 100%, 70%, .7);
}

hints hint input {
    text-shadow: 0px 1px 1px hsla(var(--appBackgroundDarkestHSL), .6);
}

.multicolor.creating hints hint input, .multicolor.creating hints hint input:disabled {
    color: hsla(var(--hueCreating), 100%, 36%, 1);
}

hints hint input:disabled {
    color: hsl(var(--hueGuessing), 100%, 32%);
}

.multicolor.creating hints hint input::placeholder {
    color: hsla(var(--hueCreating), 70%, 60%, 1);
}

.multicolor.guessing hints hint input:disabled {
    opacity: 1;
    color: hsl(var(--hueGuessing), 90%, 32%);
}

.multicolor.guessing.reviewing hints hint input:disabled {
    color: hsl(var(--hueReviewing), 60%, 50%);
}

.multicolor.guessing.solved hints hint input:disabled {
    color: hsl(var(--hueSolved), 60%, 60%);
}

.multicolor.guessing parking spot {
    outline-color: hsla(var(--hueGuessing), 100%, 40%, 1)
}

.multicolor.creating parking spot {
    outline-color: hsla(var(--hueCreating), 100%, 40%, 1)
}

.multicolor.reviewing parking spot {
    outline-color: hsla(var(--hueReviewing), 100%, 40%, 1)
}

.multicolor.solved.guessing parking spot {
    outline-color: hsla(var(--hueSolved), 100%, 40%, 1)
}

spot rotators button icon {
    background: hsla(var(--appForegroundDiminishedHSL), .2);
}

parking spot rotators button icon {
    background: hsla(var(--hueMain), 100%, 40%, 0.46);
}

.multicolor.creating parking spot rotators button icon {
    background: hsla(var(--hueCreating), 100%, 40%, 0.46);
}

.multicolor.guessing parking spot rotators button icon {
    background: hsla(var(--hueGuessing), 100%, 40%, 0.46);
}

.multicolor.reviewing parking spot rotators button icon {
    background: hsla(var(--hueReviewing), 100%, 40%, 0.46);
}

.multicolor.solved.guessing parking spot rotators button icon {
    background: hsla(var(--hueSolved), 100%, 40%, 0.46);
}

checkbox toggle:before {
    background: hsl(var(--appBackgroundDarkestHSL));
}

button.update {
    background: hsla(var(--hueCreating), 80%, 40%, 1);
    border: 1px solid hsla(var(--hueCreating), 80%, 40%, 1);
    color: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .2);
}

.creating button.update, .reviewing.guessing button.update {
    background: hsla(var(--hueGuessing), 80%, 40%, 1);
    border-color: hsla(var(--hueGuessing), 80%, 40%, 1);
}

.creating.guessing button.update {
    background: hsla(var(--hueCreating), 80%, 40%, 1);
    border-color: hsla(var(--hueCreating), 80%, 40%, 1);
}

button.update.show {
    transform: translateY(calc(-1 * var(--defaultGap)));
}

button.update icon {
    background: white;
}

button.update icon {
    background: white;
}

.greenText {
    color: hsl(var(--hueGuessing), 80%, 34%)
}

.blueText {
    color: hsl(var(--hueCreating), 100%, 48%);
}

leftright callout {
    background: hsl(var(--hueMain), 100%, 100%)
}

@media screen and (max-width:678px) {
    wrapper:first-of-type controls button.small {
        background: none;
    }
}