@font-face {
    font-family: 'Abel';
    src: url('../fonts/Abel-Regular.ttf');
}

@font-face {
    font-family: 'ClueFont';
    src: url('../fonts/Federant-Regular.ttf');
}

@font-face {
    font-family: 'Theme';
    src: url('../fonts/Bungee-Regular.ttf');
}

:root {
    --hueMain: 140;
    --hueTheme: 215;
    --hueCreating: 215;
    --hueGuessing: 140;
    --hueReviewing: 355;
    --hueSolved: 175;
    --hueHighlight: 140;

    --appBackgroundHSL: var(--hueTheme), 100%, 11%;
    --appBackgroundDarkHSL: var(--hueTheme), 100%, 8%;
    --appBackgroundDarkestHSL: var(--hueTheme), 100%, 3%;
    --appForegroundHSL: var(--hueTheme), 100%, 100%;
    --linkColorLightHSL: var(--hueHighlight), 79%, 55%;
    --linkColorDarkHSL: var(--hueHighlight), 69%, 45%;
    --messageColorHSL: 44, 100%, 70%;
    --highlightColorHSL: 50, 100%, 70%;
    --trayBackgroundHSL: var(--hueMain), 100%, 50%;
    --trayCreatingBackgroundHSL: var(--hueCreating), 100%, 50%;
    --trayGuessingBackgroundHSL: var(--hueGuessing), 100%, 40%;
    --trayReviewingBackgroundHSL: var(--hueReviewing), 100%, 54%;
    --traySolvedBackgroundHSL: var(--hueSolved), 100%, 48%;

    --longTransition: 400ms;
    --mediumTransition: 250ms;
    --shortTransition: 150ms;

    --cardSize: 180px;
    --wordHeight: 30px;
    --defaultGap: 20px;
    --borderRadius: 5px;
    --tinyIconSize: 13px;
    --extraSmallIconSize: 16px;
    --smallIconSize: 24px;
    --mediumIconSize: 32px;
    --cardDropShadow: 0px 0px 10px rgba(0, 0, 0, .3);
    --trayDropShadow: 0px 0px 10px rgba(0, 0, 0, .5);


    --texture1: url(../images/defaultTexture.jpg);
    --texture2: radial-gradient(circle, hsla(var(--appBackgroundDarkestHSL), .3) 0%, hsla(var(--appBackgroundDarkestHSL), 0) 40%, hsla(var(--appBackgroundDarkestHSL), 1) 80%);
    --textureSize: cover;
    --textureBlendMode: normal;
}

html {
    min-height: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    overflow: hidden;
    font-family: 'Abel', 'Segoe UI', 'Helvetica Neue';
    font-size: 1.3em;
    color: hsl(var(--appForegroundHSL));
    line-height: 1.3em;
    margin: 0px 0px;
    background: hsl(var(--appBackgroundDarkestHSL));
    width: 100%;
    height: 100%;
    display: block;
    user-select: none;
    -webkit-user-select: none;
}

app {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: hsl(var(--appBackgroundHSL));
    background-image: var(--texture2);
    background-size: var(--textureSize);
    background-blend-mode: var(--textureBlendMode);
    background-position: top center;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin: calc(3 * var(--defaultGap)) 0 calc(2 * var(--defaultGap));
    font-family: "Theme";
    text-align: center;
}

h3 {
    margin: var(--defaultGap) 0 0;
    color: hsl(var(--messageColorHSL));
}

settings h3 {
    margin: calc(2 * var(--defaultGap)) 0 var(--defaultGap);
}

button {
    cursor: pointer;
    padding: calc(.75 * var(--defaultGap)) var(--defaultGap);
    border-radius: var(--borderRadius);
    color: hsl(var(--linkColorLightHSL));
    background: hsl(var(--appBackgroundDarkHSL));
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Theme';
    transition: var(--shortTransition) ease-in-out all;
}

button.secondary {
    color: hsl(var(--hueTheme), 40%, 40%);
    border-color: hsl(var(--hueTheme), 50%, 25%);
}

button.inline {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: calc(var(--defaultGap) / 2);
}

button icon {
    background: hsl(var(--linkColorLightHSL));
}

button icon.emoji {
    background: none;
}

button.small {
    font-family: 'Abel', 'Segoe UI', 'Helvetica Neue';
    /* font-size: 85%; */
    padding: 6px;
    gap: 6px;
    width: auto;
    cursor: pointer;
    text-align: center;
    background: none;
    color: hsla(var(--linkColorDarkHSL), 1);
    display: flex;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 1;
}

button.update {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Abel', 'Segoe UI', 'Helvetica Neue';
    position: fixed;
    bottom: 0px;
    z-index: 99;
    font-size: 75%;
    padding: 8px var(--defaultGap) 6px;
    background: hsla(var(--hueCreating), 80%, 10%, 1);
    border: 1px solid hsl(var(--trayCreatingBackgroundHSL));
    /* border-width: 1px 1px 0 1px; */
    transform: translateY(38px);
    color: hsl(var(--appForegroundHSL));
    border-radius: var(--borderRadius);
    transition: var(--longTransition) ease-in-out all;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, .5);
}

.creating button.update, .reviewing.guessing button.update {
    background: hsla(var(--hueGuessing), 80%, 10%, 1);
    border-color: hsl(var(--trayGuessingBackgroundHSL));
}

.creating.guessing button.update {
    background: hsla(var(--hueCreating), 80%, 10%, 1);
    border-color: hsl(var(--trayCreatingBackgroundHSL));
}

button.update.show {
    transform: translateY(calc(-1 * var(--defaultGap)));
}

button.small icon, button.update icon {
    width: var(--tinyIconSize);
    height: var(--tinyIconSize);
    mask-size: var(--tinyIconSize) var(--tinyIconSize);
    -webkit-mask-size: var(--tinyIconSize) var(--tinyIconSize);
    background: hsla(var(--linkColorDarkHSL), 1);
    margin-top: -1px;
}

button.update icon {
    background: hsl(var(--appForegroundHSL));
}

header h1 {
    margin: 0px;
}

icon {
    display: block;
    mask-size: var(--smallIconSize) var(--smallIconSize);
    -webkit-mask-size: var(--smallIconSize) var(--smallIconSize);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    background-color: white;
    width: var(--smallIconSize);
    height: var(--smallIconSize);
    pointer-events: none;
}

icon.emoji {
    background-color: none;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    line-height: inherit;
}

icon.share {
    mask-image: url(../images/icon-share.svg);
    -webkit-mask-image: url(../images/icon-share.svg);
}

icon.download {
    mask-image: url(../images/icon-download.svg);
    -webkit-mask-image: url(../images/icon-download.svg);
}

message icon.share {
    display: inline-block;
    width: var(--extraSmallIconSize);
    height: var(--extraSmallIconSize);
    overflow: visible;
    transform: translateY(-2px);
    padding: 0;
    background-color: hsl(var(--messageColorHSL));
    mask-size: calc(.75 * var(--extraSmallIconSize)) calc(.75 * var(--extraSmallIconSize));
    -webkit-mask-size: calc(.75 * var(--extraSmallIconSize)) calc(.75 * var(--extraSmallIconSize));
}

icon.info {
    mask-image: url(../images/icon-gradcap.svg);
    -webkit-mask-image: url(../images/icon-gradcap.svg);
}

icon.add {
    mask-image: url(../images/icon-plus.svg);
    -webkit-mask-image: url(../images/icon-plus.svg);
}

icon.recycle {
    mask-image: url(../images/icon-recycle.svg);
    -webkit-mask-image: url(../images/icon-recycle.svg);
}

icon.rotate {
    mask-image: url(../images/icon-rotatearrow.svg);
    -webkit-mask-image: url(../images/icon-rotatearrow.svg);
}

icon.settings {
    mask-image: url(../images/icon-settings.svg);
    -webkit-mask-image: url(../images/icon-settings.svg);
}

hintcard {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--defaultGap);
    pointer-events: none;
    font-size: 90%;
    opacity: .7;
    border: none;
}

hintcard card {
    background: none;
    color: hsl(var(--appForegroundHSL));
    border: none;
}

header {
    padding: 0 calc(var(--defaultGap));
    width: auto;
}

header h1 {
    cursor: default;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Theme';
    font-weight: normal;
    font-size: 280%;
    line-height: 84%;
}

header subtitle {
    justify-content: center;
    gap: var(--defaultGap);
}


header subtitle {
    color: hsla(var(--linkColorDarkHSL), 1);
    display: flex;
    font-size: 70%;
}

message {
    display: block;
    color: hsl(var(--messageColorHSL));
    text-shadow: 0px -1px 2px black;
    text-align: center;
    width: 100%;
    pointer-events: none;
}

message span {
    display: none;
}

.solved message {
    pointer-events: all;
}

.solved message span {
    display: inline;
}

/* modal h3 {
    width: 100%;
    padding-bottom: calc(.5 * var(--defaultGap));
    border-bottom: 1px solid hsla(var(--appForegroundHSL), .1);
} */

settings h3:first-of-type {
    margin-top: 0px;
    padding-top: 0px;
    /* border-bottom-color: hsla(var(--appForegroundHSL), 0); */
}

p {
    margin: 0;
    line-height: 140%;
    width: 100%;
}

.blueText {
    color: hsl(var(--hueCreating), 100%, 60%);
}

.greenText {
    color: hsl(var(--hueGuessing), 80%, 50%)
}

cta {
    display: inline-block;
    font-family: 'Theme';
    color: hsl(var(--linkColorLightHSL));
    /* padding: 1px 8px; */
    /* font-size: 16px; */
    /* border: 1px solid hsla(var(--linkColorLightHSL), .5); */
    /* border-radius: var(--borderRadius); */
}

.redText {
    color: hsl(var(--hueReviewing), 100%, 60%)
}


modal message {
    margin-top: calc(1 * var(--defaultGap));
    padding-top: var(--defaultGap);
    margin-bottom: calc(.5 * var(--defaultGap));
    padding-bottom: calc(.5 * var(--defaultGap));
    /* border-bottom: 1px solid hsla(var(--appForegroundHSL), .1); */
}

modal intro message {
    margin-top: 0;
}

message.clickable {
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: center;

}

nav li {
    display: inline-block;
    margin: 0px;
}

nav ul li a {
    display: inline-block;
    margin: 0px;
    text-transform: uppercase;
    color: hsl(var(--linkColorLightHSL));
    cursor: pointer;
    padding: var(--defaultGap) calc(var(--defaultGap) * 2);
}

nav ul li a:hover {
    color: white;
}

wrapper {
    width: 100%;
    max-width: 1124px;
    margin: 0 auto;
    display: flex;
    padding: calc(var(--defaultGap) / 2) 0 0;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    gap: var(--defaultGap);
}

wrapper:first-of-type {
    padding: calc(var(--defaultGap)) 0;
    background-image: linear-gradient(hsla(var(--appBackgroundDarkestHSL), 1), hsla(var(--appBackgroundDarkestHSL), .0));
    margin-bottom: calc(2 * var(--defaultGap));
    max-width: unset;

}

wrapper.columns {
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.portrait wrapper.mobile.extra {
    transform: translateY(calc(.1 * var(--cardSize)));
    scale: .85;
}

[v-cloak] {
    transition: 0ms ease-out opacity;
    opacity: 0;
}

.clockwise {
    transform: scaleX(-1);
}

.anticlockwise {
    display: block;
}

rotators, tray, hints {
    display: flex;
    justify-content: center;
    gap: var(--defaultGap);
}

tray {
    border-radius: calc(2 * var(--borderRadius));
    padding: calc(4 * var(--defaultGap));
}

tray diamond {
    width: calc(100% - 2 * var(--defaultGap));
    height: calc(100% - 2 * var(--defaultGap));
    position: absolute;
    background: url(../images/diamond.svg) no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
    transform: translateY(-60px);
    transition: var(--mediumTransition) ease-in-out background-color;
    z-index: -1;
}

diamond.back {
    background: hsl(var(--trayBackgroundHSL));
    mask-image: url(../images/diamond-back.svg);
    -webkit-mask-image: url(../images/diamond-back.svg);
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    opacity: .8;
}


.multicolor.creating diamond.back {
    background: hsl(var(--trayCreatingBackgroundHSL));
}

.multicolor.guessing diamond.back {
    background: hsl(var(--trayGuessingBackgroundHSL));
}

.multicolor.reviewing diamond.back {
    background: hsl(var(--trayReviewingBackgroundHSL));
}

.multicolor.solved.guessing diamond.back {
    background: hsla(var(--traySolvedBackgroundHSL));
}

tray.rotating {
    transition: var(--longTransition) ease-in-out;
    transition-property: transform, rotate;
}

controls {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 var(--defaultGap);
}

modal controls {
    position: fixed;
    bottom: 0px;
    background-color: hsla(var(--appBackgroundDarkHSL), .7);
    border-top: 1px solid hsla(var(--appBackgroundHSL), 1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: var(--defaultGap) 0;
    gap: calc(.5 * var(--defaultGap));
    height: auto;
    width: 100%;
}

modal controls button {
    border: 1px solid hsla(var(--linkColorDarkHSL), .3);
    font-size: 100%;
    width: var(--cardSize);
}

wrapper controls button {
    background: none;
    font-size: 150%;
    width: var(--cardSize);
    height: 100%;
    padding: 0 var(--defaultGap) calc(var(--defaultGap) / 2);
}

rotators {
    position: absolute;
    pointer-events: none;
    z-index: 100;
    padding: var(--defaultGap) 0px 0px;
    width: calc(var(--cardSize) * 2 + (calc(var(--defaultGap) * 10)));
    justify-content: space-between;
}


rotators button {
    transition: var(--shortTransition) ease-in-out;
    transition-property: opacity, color;
    pointer-events: all;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    line-height: 100%;
    background: none;
    padding: calc(1.25 * var(--defaultGap));
}

rotators button icon {
    padding-top: 12px;
    width: var(--mediumIconSize);
    height: var(--mediumIconSize);
    mask-size: var(--mediumIconSize) var(--mediumIconSize);
    -webkit-mask-size: var(--mediumIconSize) var(--mediumIconSize);
    background: hsl(var(--linkColorLightHSL));
}

spot rotators button icon {
    width: var(--extraSmallIconSize);
    height: var(--extraSmallIconSize);
    mask-size: var(--extraSmallIconSize) var(--extraSmallIconSize);
    -webkit-mask-size: var(--extraSmallIconSize) var(--extraSmallIconSize);
    background: rgb(0, 0, 0, 0.2);
}

parking spot rotators button icon {
    background: hsla(var(--hueMain), 100%, 70%, 0.46);
}

.multicolor.creating parking spot rotators button icon {
    background: hsla(var(--hueCreating), 100%, 70%, 0.46);
}

.multicolor.guessing parking spot rotators button icon {
    background: hsla(var(--hueGuessing), 100%, 70%, 0.46);
}

.multicolor.reviewing parking spot rotators button icon {
    background: hsla(var(--hueReviewing), 100%, 70%, 0.46);
}

.multicolor.solved.guessing parking spot rotators button icon {
    background: hsla(var(--hueSolved), 100%, 70%, 0.46);
}

cards spot:hover rotators button icon {
    background: hsl(var(--linkColorLightHSL));
}

rotators button:hover {
    color: white;
}

spot rotators button:first-of-type {
    padding-left: 5px;
}

spot rotators {
    opacity: 1;
    position: absolute;
    z-index: 100;
    padding: 0px 0px 0px;
    width: var(--cardSize);
    margin-top: 0px;
    pointer-events: none;
}

spot.empty rotators, spot.empty:hover rotators, .guessing spot.empty:hover rotators {
    opacity: 0;
    display: none;
}

.guessing spot:hover rotators, .guessing spot.selected rotators {
    opacity: 1;
}

.guessing spot rotators button {
    pointer-events: all;
}

spot rotators:last-of-type {
    scale: -1;
    transform: translateY(28px);
}

spot rotators button, spot.empty rotators button:hover {
    opacity: 0;
    font-size: 100%;
    padding: 0px 6px;
    transition: var(--shortTransition) ease-in-out;
    transition-property: opacity, color;
    color: hsl(var(--linkColorDarkHSL));
    pointer-events: none;
}

.guessing spot rotators button, .guessing spot.empty rotators button:hover {
    pointer-events: all;
    opacity: 1;
}

spot rotators button:hover {
    color: black;
}

parking {
    display: flex;
    gap: var(--defaultGap);
    flex-direction: column;
    padding: var(--defaultGap);
}

wrapper.mobile {
    overflow: visible;
    height: 0px;
    padding: 0px;
    transform: translateY(calc(.7 * var(--cardSize)));
    scale: .6;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: none;
}


.portrait parking {
    display: none;
}

.portrait wrapper.mobile {
    display: flex;
    height: auto;
    transform: unset;
    scale: 1;
}

wrapper.mobile parking {
    display: flex;
    width: 100%;
}

.mobile parking {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: visible;
}



cards {
    display: flex;
    transition: var(--longTransition) ease-in-out;
    transition-property: transform, rotate, opacity;
    padding: var(--defaultGap);
    width: calc(var(--cardSize) * 2 + var(--defaultGap));
    height: calc(var(--cardSize) * 2 + var(--defaultGap));
    flex-wrap: wrap;
    gap: var(--defaultGap);
}

cards.disabled {
    opacity: 1;
}

spot {
    display: block;
    width: var(--cardSize);
    height: var(--cardSize);
    outline: 1px dotted transparent;
    pointer-events: none;
}

.guessing spot {
    pointer-events: all;
}

.guessing modal spot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.guessing modal spot.disabled {
    pointer-events: none;
}

parking spot {
    background: hsla(0, 0%, 0%, .5);
    outline: 1px solid hsla(var(--hueMain), 100%, 70%, .7);
    opacity: .5;
}

.multicolor.creating parking spot {
    outline: 1px solid hsla(var(--hueCreating), 100%, 70%, .7);
    opacity: 1;
}

.multicolor.guessing parking spot {
    outline: 1px solid hsla(var(--hueGuessing), 100%, 70%, .7);
    opacity: 1;
}

.multicolor.guessing.reviewing parking spot {
    outline: 1px solid hsla(var(--hueReviewing), 100%, 70%, .7);
    opacity: 1;
}

.multicolor.guessing.solved parking spot {
    outline: 1px solid hsla(var(--hueSolved), 100%, 70%, .7);
    opacity: 1;
}


spot.empty card {
    background: transparent;
    cursor: default;
}


parking spot.empty {
    /* outline-color: hsla(var(--hueMain), 100%, 70%, .7); */
    outline-style: dashed;
}

.guessing parking spot.empty {
    /* outline-color: hsla(var(--hueGuessing), 100%, 70%, .7); */
    outline-style: dashed;
}

.reviewing.guessing parking spot.empty {
    /* outline-color: hsla(var(--hueReviewing), 100%, 70%, .7); */
    outline-style: dashed;
}

.creating parking spot.empty {
    /* outline-color: hsla(var(--hueReviewing), 100%, 70%, .7); */
    opacity: .4;
}


card {
    background: transparent;
    background-size: 100% 100%;
    display: block;
    width: var(--cardSize);
    height: var(--cardSize);
    user-select: none;
    -webkit-user-select: none;
    cursor: grab;
    color: hsl(var(--hueMain), 100%, 90%);
    z-index: 200;
    touch-action: none;
}

cards card, .multicolor.guessing cards card, .reviewing cards card {
    background: none;
    color: hsl(var(--hueMain), 100%, 86%);
}

.multicolor.creating card {
    color: hsl(var(--hueCreating), 100%, 86%);
}

.multicolor.guessing card {
    color: hsl(var(--hueGuessing), 94%, 90%);
}

.multicolor.guessing.reviewing card {
    color: hsl(var(--hueReviewing), 94%, 90%);
}

.multicolor.solved.guessing card {
    color: hsl(var(--hueSolved), 94%, 90%);
}

cards spot:nth-child(1) card words word:nth-child(2),
cards spot:nth-child(1) card words word:nth-child(3),
cards spot:nth-child(2) card words word:nth-child(3),
cards spot:nth-child(2) card words word:nth-child(4),
cards spot:nth-child(3) card words word:nth-child(1),
cards spot:nth-child(3) card words word:nth-child(2),
cards spot:nth-child(4) card words word:nth-child(1),
cards spot:nth-child(4) card words word:nth-child(4) {
    opacity: .7;
}

card.ghost, card.ghost.empty, .guessing card.ghost.empty, .reviewing card.ghost.empty {
    background: rgba(0, 0, 0, .4);
    transition: 0ms ease-in 0ms opacity;
    position: fixed;
    top: calc(-.5 * var(--cardSize));
    left: calc(-.5 * var(--cardSize));
    opacity: 0;
    pointer-events: none;
    z-index: 200;
    border: 1px solid hsla(var(--hueMain), 100%, 70%, .7);
}

.multicolor.creating card.ghost {
    border: 1px solid hsla(var(--hueCreating), 100%, 70%, .7);
}

.multicolor.guessing card.ghost {
    border: 1px solid hsla(var(--hueGuessing), 100%, 70%, .7);
}

.multicolor.guessing.solved card.ghost {
    border: 1px solid hsla(var(--hueSolved), 100%, 70%, .7);
}

.multicolor.reviewing card.ghost {
    border: 1px solid hsla(var(--hueReviewing), 100%, 70%, .7);
}

card.ghost.show {
    transition: 0ms ease-in 150ms opacity;
    opacity: .9;
}

card.rotating {
    transition: var(--shortTransition) ease-in-out all;
}

hints {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    font-size: 130%;

}

hints hint {
    display: block;
    position: absolute;
    height: var(--wordHeight);
    background-size: 128px 128px;
    padding: calc(var(--defaultGap) / 4) calc(var(--defaultGap) / 4) calc(var(--defaultGap));
    width: calc(1.75 * var(--cardSize));
    perspective: var(--cardSize);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

modal input, hints hint input, modal select {
    text-align: center;
    outline: none;
    border: none;
    background: none;
    color: hsl(var(--hueMain), 100%, 70%);
    font-family: 'ClueFont';
    width: 100%;
    line-height: 120%;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

modal input.large {
    font-size: 120%;
}

modal small {
    font-family: 'Abel', 'Segoe UI', 'Helvetica Neue';
    display: block;
    font-size: 70%;
    opacity: .7;
    line-height: 120%;
    width: 100%;
    max-width: calc((2 * var(--cardSize)) + (2 * var(--defaultGap)));
}

modal settings h3 small {
    max-width: unset;
    padding-top: calc(.25 * var(--defaultGap));
}

hints hint input {
    transform: rotateX(24deg) rotateY(0deg);
    transform-style: preserve-3d;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, .6);
}

.multicolor.creating hints hint input {
    color: hsla(var(--hueCreating), 100%, 70%, 1);
}

hints hint input::placeholder {
    color: hsla(var(--hueMain), 70%, 48%, 1);
}

.multicolor.creating hints hint input::placeholder {
    color: hsla(var(--hueCreating), 70%, 48%, 1);
}

.multicolor.guessing hints hint input::placeholder {
    color: hsla(var(--hueGuessing), 70%, 48%, 1);
}

.multicolor.reviewing hints hint input::placeholder {
    color: hsla(var(--hueReviewing), 70%, 48%, 1);
}

.multicolor.solved.guessing hints hint input::placeholder {
    color: hsla(var(--hueSolved), 70%, 48%, 1);
}

modal input, modal select {
    font-family: 'Abel', 'Segoe UI', 'Helvetica Neue';
    color: white;
    font-size: 110%;
    text-align: left;
}

modal select {
    width: 100%;
    background: none;
    outline: none;
    -webkit-appearance: unset;
}

hints hint input:disabled {
    opacity: 1;
    color: hsl(var(--hueMain), 100%, 70%);
}

.multicolor.creating hints hint input:disabled {
    opacity: 1;
    color: hsl(var(--hueCreating), 100%, 70%);
}

.multicolor.guessing hints hint input:disabled {
    opacity: 1;
    color: hsl(var(--hueGuessing), 94%, 80%);
}

.multicolor.guessing.reviewing hints hint input:disabled {
    color: hsl(var(--hueReviewing), 94%, 80%);
}

.multicolor.guessing.solved hints hint input:disabled {
    color: hsl(var(--hueSolved), 94%, 80%);
}

.guessing input, .guessing hints hint input {
    user-select: none;
    -webkit-user-select: none;
}



hints hint:nth-child(1) {
    rotate: 0deg;
    transform: translate(0px, calc(-1.825 * var(--wordHeight)));
}

hints hint:nth-child(2) {
    rotate: 90deg;
    transform: translate(calc(var(--cardSize) + (var(--defaultGap) / 8)), calc(-1 * var(--cardSize) + calc(var(--wordHeight) * -1.9)));

}

hints hint:nth-child(3) {
    rotate: -90deg;
    transform: translate(calc(-1 * var(--cardSize) - var(--defaultGap) / 8), calc(-1 * var(--cardSize) + calc(var(--wordHeight) * -1.9)));
}

hints hint:nth-child(4) {
    rotate: 180deg;
    transform: translate(0px, calc(var(--cardSize) * -2.33));
}

card.empty {
    background: transparent;
}

card menu {
    display: block;
    width: calc(.5 * var(--cardSize));
    height: calc(.5 * var(--cardSize));
    padding: 0;
    position: absolute;
}

words {
    display: block;
}

word {
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    text-align: center;
    width: var(--cardSize);
    overflow: hidden;
    height: var(--wordHeight);
    font-size: 90%;
    text-transform: capitalize;
}

word:nth-child(1) {
    rotate: 0deg;
}

word:nth-child(2) {
    transform: translate(calc((var(--cardSize) / 2) - (var(--wordHeight) / 2)), calc(-1 * (var(--cardSize) / 2) + calc(var(--defaultGap) * 1) - 5px));
    rotate: 90deg;
}

word:nth-child(3) {
    transform: translate(0, calc(-1 * (var(--cardSize) / 1) + calc(var(--defaultGap) * 1.5)));
    rotate: 180deg;
}

word:nth-child(4) {
    transform: translate(calc(-1 * (var(--cardSize) / 2) + calc(var(--defaultGap) * 1) - 5px), calc(-1 * (var(--cardSize) / 2) + calc(var(--defaultGap) * 1) - 5px));
    rotate: -90deg;
}

modal, tutorial {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* flex-wrap: wrap; */
    background: hsla(var(--appBackgroundDarkestHSL), 1);
    opacity: 1;
    z-index: 300;
    transition: var(--mediumTransition) ease-in-out all;
    gap: var(--defaultGap);
}

modal.centered {
    justify-content: center;
    gap: calc(4 * var(--defaultGap));
    font-size: 130%;
}

modal.centered intro, modal.centered confirmation {
    margin-bottom: var(--cardSize);

}

modal.disabled, tutorial.disabled {
    opacity: 0;
}

modal settings, modal intro, modal confirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(1 * var(--defaultGap));
}

modal settings {
    gap: calc(.5 * var(--defaultGap));
    margin-bottom: 160px;
}

modal.tutorial intro {
    max-width: calc(2 * var(--cardSize) + (4 * var(--defaultGap)));
    margin-bottom: 160px;
}

modal img {
    width: 100%;
}

modal.turorial intro message {
    margin-top: 0;
}

section {
    max-width: calc(2 * var(--cardSize) + (4 * var(--defaultGap)));
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: calc(.5 * var(--defaultGap)) var(--defaultGap);
    background: hsla(var(--appBackgroundHSL), 1);
}

settings input {
    font-family: 'Abel', 'Segoe UI', 'Helvetica Neue';
    font-size: inherit;
}


leftright {
    display: flex;
    width: calc(100%);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border-radius: var(--borderRadius);
    gap: var(--defaultGap);
}

leftright message, leftright section, leftright p {
    text-align: left;
    width: calc(1 * var(--cardSize));
    margin: 0;
    border-radius: var(--borderRadius);
}

leftright section input {
    text-align: left;
}

leftright p {
    padding-left: var(--defaultGap);
}

modal cards {
    background: none;
    height: auto;
    pointer-events: all;
    transition: 0 linear all;
    transition-delay: 150ms;
}

.guessing.reviewing modal cards, .guessing modal cards, modal cards {
    background: none;
}

modal.disabled cards {
    pointer-events: none;
}

modal cards card {
    background: hsla(255, 100%, 100%, .2);
}

modal cards card.intray {
    opacity: .5;
}

modal::-webkit-scrollbar {
    display: none;

    -ms-overflow-style: none;
    scrollbar-width: none;

    touch-action: auto;
    scroll-behavior: smooth;
}

.disabled {
    pointer-events: none;
    opacity: .3;
}

version {
    text-align: center;
    font-size: 12px;
    color: hsla(var(--hueMain), 45%, 75%);
    padding-top: var(--defaultGap);
}


@media screen and (max-height:844px) {

    wrapper {
        padding: 0
    }

    wrapper:first-of-type {
        margin-bottom: var(--defaultGap);
        padding: calc(var(--defaultGap)) 0;
    }

    controls {
        padding-top: 0;
        padding-bottom: 0;
    }

    wrapper controls button {
        height: 100%;
        padding: 0 0 var(--defaultGap);
    }

    wrapper.mobile, .portrait wrapper.mobile {
        transform: translateY(calc(-4 * var(--defaultGap)));
        position: fixed;
        bottom: var(--defaultGap);
    }

    wrapper.mobile.extra, .portrait wrapper.mobile.extra {
        scale: .6;
        transform: translateY(calc(-3 * var(--defaultGap)));
    }

    message {
        display: block;
    }

    modal message {
        height: auto;
        position: relative;
    }

    header {
        width: auto;
        padding: 0;
    }

    header h1 {
        letter-spacing: 1px;
        font-size: 180%;
    }

    header subtitle {
        font-size: 70%;
        justify-content: center;
    }

    rotators {
        padding: calc(.5 * var(--defaultGap)) 0px;
    }
}

@media screen and (max-width:660px) {

    :root {
        --wordHeight: 26px;
        --cardSize: 130px;
    }

    html {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    body {
        font-size: 90%;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-image: none;
        background-size: 128px;
    }

    p {
        font-size: 110%;
        padding: 0 var(--defaultGap);
        width: calc(100% - (2 * var(--defaultGap)));
    }

    app {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-size: calc(.75 * var(--textureSize));
    }

    button.update {
        font-size: 100%;
    }

    modal {
        font-size: 16px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-bottom: 60px;
    }

    confirmation {
        max-width: 90%;
    }

    modal.tutorial intro {
        max-width: calc(var(--cardSize) * 3);

    }

    modal img {
        width: 90%;
    }

    modal small {
        font-size: 12px;
        padding: 0px;
        width: 100%;
        max-width: calc((2 * var(--cardSize)) + (3 * var(--defaultGap)));
    }

    wrapper {
        padding: calc(var(--defaultGap) / 4) 0 0;
        overflow: hidden;
        max-width: 100%;
    }

    wrapper:first-of-type {
        padding: calc(var(--defaultGap) / 1) 0;
        margin-bottom: 0;
        gap: 0px;
        align-items: center;
    }

    wrapper controls button {
        padding: 0 0 var(--defaultGap)
    }

    .notMobile {
        display: none;
    }

    message {
        position: absolute;
    }

    message icon.share {
        scale: .9;
        transform: translateY(0px)
    }

    controls {
        padding: 0;
        width: 100%;
    }

    wrapper controls {
        padding: 0;
        width: 100%;
    }

    wrapper controls button.inline {
        height: 100%;
        text-align: left;
        justify-content: start;
        width: calc(0.45 * var(--cardSize));
    }

    wrapper controls:last-of-type button.inline {
        justify-content: end;
    }

    wrapper controls button span {
        display: none;
    }

    wrapper controls:last-of-type button {
        text-align: right;
    }

    wrapper.mobile, .portrait wrapper.mobile {
        transform: translateY(calc(-4 * var(--defaultGap)));
        position: fixed;
        bottom: var(--defaultGap);
    }

    modal controls button {
        padding: calc(.5 * var(--defaultGap));
        font-size: 140%;
    }


    controls button icon.emoji {
        background: none;
        transform: translateY(-3px);
        font-size: 140%;
    }

    header {
        width: auto;
        padding: 0 var(--defaultGap);
    }

    header h1 {
        letter-spacing: 1px;
        font-size: 280%;
    }

    header subtitle {
        justify-content: space-between;
        font-size: 100%;
    }

    header subtitle button.inline {
        padding: 6px 2px;
        text-wrap: nowrap;
    }

    message {
        font-size: 110%;
        text-align: center;
        line-height: 130%;
    }

    modal message {
        position: relative;
    }

    rotators {
        width: calc(100%);
        overflow: hidden;
        padding: calc(1.5 * var(--defaultGap)) 0;
        margin: 0px;
    }

    spot rotators button {
        padding: 6px;
    }

    rotators button icon {
        padding-top: 0px;
        width: var(--smallIconSize);
        height: var(--smallIconSize);
        mask-size: var(--smallIconSize) var(--smallIconSize);
        -webkit-mask-size: var(--smallIconSize) var(--smallIconSize);
        background: hsl(var(--linkColorLightHSL));
    }

    cards spot:hover rotators button icon {
        background: rgb(0, 0, 0, 0.2);
    }

    tray {
        scale: .95;
    }

    tray diamond {
        width: calc(100% - 4 * var(--defaultGap));
        height: calc(100% - 4 * var(--defaultGap));
        transform: translateY(-40px);
    }

    cards {
        background-size: 128px;
    }


    spot rotators {
        min-width: unset;
        font-size: 146%;
    }

    .guessing spot rotators button {
        padding: 0px 0px 12px 12px;
    }

    word {
        font-size: 100%;
        line-height: 180%;
    }

    cards word {
        align-items: start;
        font-size: 100%;
        line-height: 100%;
    }

    word:nth-child(2) {
        transform: translate(calc((var(--cardSize) / 2) - (var(--wordHeight) / 2)), calc(-1 * (var(--cardSize) / 2) + calc(var(--defaultGap) * 1) - 7px));
    }

    word:nth-child(3) {
        transform: translate(0, calc(-1 * (var(--cardSize) / 1) + calc(var(--defaultGap) * 1.3)));
    }

    word:nth-child(4) {
        transform: translate(calc(-1 * (var(--cardSize) / 2) + calc(var(--defaultGap) * 1) - 7px), calc(-1 * (var(--cardSize) / 2) + calc(var(--defaultGap) * 1) - 7px));
    }

    hints hint {
        padding: calc(var(--defaultGap) / 1) calc(var(--defaultGap) / 4) calc(var(--defaultGap) / 2.6);
        width: calc(1.6 * var(--cardSize));
        background-size: 128px;
    }

    hints hint input {
        line-height: 120%;
    }

    hints hint:first-of-type input {
        pointer-events: all;
    }

    hints hint:nth-child(1) {
        transform: translate(0px, calc(-1.99 * var(--wordHeight)));
    }

    hints hint:nth-child(2) {
        transform: translate(calc(var(--cardSize) + (var(--defaultGap) / 6)), calc(-1 * var(--cardSize) + calc(var(--wordHeight) * -2.1)));
    }

    hints hint:nth-child(3) {
        transform: translate(calc(-1 * var(--cardSize) - var(--defaultGap) / 6), calc(-1 * var(--cardSize) + calc(var(--wordHeight) * -2.08)));
    }

    hints hint:nth-child(4) {
        transform: translate(0px, calc(var(--cardSize) * -2.44));
    }

    section {
        width: calc(100% - (2 * var(--defaultGap)));
        margin: 0 var(--defaultGap);
        max-width: unset;
    }

    modal settings {
        gap: calc(.5 * var(--defaultGap));
    }

    parking, .portrait parking, parking spot, .portrait parking spot {
        display: none;
        padding: 0px;
    }

    wrapper.mobile, .portrait wrapper.mobile {
        display: flex;
        height: 0px;
        scale: .6;
    }

    wrapper.mobile.extra, .portrait wrapper.mobile.extra {
        /* transform: translateY(calc(.7 * var(--cardSize))); */
        scale: .5;

    }

    wrapper.mobile parking, .portrait wrapper.mobile.parking {
        display: flex;
        width: 100%;
    }

    wrapper.mobile parking spot, .portrait wrapper.mobile.parking spot {
        display: block;

    }
}

@media screen and (max-height:670px) {
    wrapper {
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    wrapper:first-of-type {
        padding-bottom: 0px;
    }

    wrapper message {
        margin-top: 8px;
        font-size: 100%;
    }

    words word {
        letter-spacing: 1px;
    }

    modal message {
        margin-top: calc(.5 * var(--defaultGap));
        padding-top: calc(.5 * var(--defaultGap));
        padding-bottom: calc(.5 * var(--defaultGap));
    }

}