@font-face {
    font-family: 'Abel';
    src: url('../fonts/Abel-Regular.ttf');
}

@font-face {
    font-family: 'Written';
    src: url('../fonts/ReenieBeanie-Regular.ttf');
}


@font-face {
    font-family: 'Theme';
    src: url('../fonts/Bungee-Regular.ttf');
}


:root {
    --hueMain: 205;
    /* --hueMain: 140; */
    --hueHighlight: 140;

    --bodyBackgroundHSL: 0, 0%, 0%;
    --appBackgroundHSL: var(--hueMain), 40%, 30%;
    --appBackgroundDarkHSL: var(--hueMain), 40%, 10%;
    --appForegroundHSL: var(--hueMain), 90%, 93%;
    --linkColorLightHSL: var(--hueHighlight), 79%, 55%;
    --linkColorDarkHSL: var(--hueHighlight), 69%, 45%;
    --highlightColorHSL: 50, 100%, 70%;
    --trayBackgroundHSL: var(--hueMain), 90%, 40%;
    /* --trayBackgroundHSL: var(--hueMain), 70%, 40%; */

    --longTransition: 400ms;
    --shortTransition: 150ms;

    --cardSize: 180px;
    --wordHeight: 30px;
    --defaultGap: 20px;
    --borderRadius: 5px;
    --cardDropShadow: 0px 0px 10px rgba(0, 0, 0, .3);
    --trayDropShadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

html {
    min-height: 100%;
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    font-family: 'Abel', 'Segoe UI', 'Helvetica Neue';
    font-size: 1.3em;
    color: hsl(var(--appForegroundHSL));
    line-height: 1.3em;
    margin: 0px 0px;
    background: hsl(var(--appBackgroundHSL));
    width: 100%;
    height: 100%;
    display: block;
    user-select: none;
    -webkit-user-select: none;
}

app {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: repeating-linear-gradient(45deg, hsla(var(--bodyBackgroundHSL), 0.4) 0px, hsla(var(--bodyBackgroundHSL), 0.4) 40px, hsla(var(--bodyBackgroundHSL), 0.45) 40px, hsla(var(--bodyBackgroundHSL), 0.45) 80px);
}

header {
    padding: 0 calc(var(--defaultGap));
    width: auto;
}

header h1 {
    cursor: default;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Theme';
    font-weight: normal;
    font-size: 280%;
    line-height: 84%;
}

header subtitle {
    cursor: default;
    text-align: center;
    color: hsla(var(--appForegroundHSL), .6);
    text-shadow: 0px 0px 3px black;
    display: block;
    font-size: 70%;
    text-transform: uppercase;
    letter-spacing: 2px;
}

message {
    color: hsl(var(--highlightColorHSL));
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: center;

}

nav li {
    display: inline-block;
    margin: 0px;
}

nav ul li a {
    display: inline-block;
    margin: 0px;
    text-transform: uppercase;
    color: hsl(var(--linkColorLightHSL));
    cursor: pointer;
    padding: var(--defaultGap) calc(var(--defaultGap) * 2);
}

nav ul li a:hover {
    color: white;
}

wrapper {
    height: auto;
    width: 100%;
    max-width: 1124px;
    margin: 0 auto;
    display: flex;
    padding: calc(var(--defaultGap) / 2) 0 0;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    gap: var(--defaultGap);
}

wrapper:first-of-type {
    padding: calc(var(--defaultGap)) 0;
    background: hsla(var(--appBackgroundDarkHSL), .8);
    margin-bottom: calc(2 * var(--defaultGap));
    border-radius: 0 0 var(--borderRadius) var(--borderRadius);
    max-width: unset;

}

wrapper.columns {
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

[v-cloak] {
    transition: 0ms ease-out opacity;
    opacity: 0;
}

button {
    font-family: 'Abel', 'Segoe UI', 'Helvetica Neue';
    font-size: 75%;
    cursor: pointer;
    width: auto;
}

.clockwise::after {
    content: '⤷';
    display: block;
    transform: scaleY(-1);
    /* rotate: -90deg; */
}

.anticlockwise::after {
    content: '⤶';
    display: block;
    transform: scaleY(-1);
    /* rotate: 90deg; */
}

rotators, tray, hints {
    display: flex;
    justify-content: center;
    gap: var(--defaultGap);
}

tray {
    border-radius: calc(2 * var(--borderRadius));
    padding: calc(4 * var(--defaultGap));
}

tray.rotating {
    transition: var(--longTransition) ease-in-out;
    transition-property: transform, rotate;
}

controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cardSize);
    padding: var(--defaultGap);
}

controls button {
    outline: none;
    border: none;
    background: none;
    color: hsl(var(--linkColorLightHSL));
    font-size: 150%;
    font-family: "Theme";
    width: var(--cardSize);
    padding: 0 var(--defaultGap);
}

rotators {
    position: absolute;
    pointer-events: none;
    z-index: 100;
    padding: var(--defaultGap) 0px 0px;
    width: calc(var(--cardSize) * 2 + (calc(var(--defaultGap) * 10)));
    justify-content: space-between;
}


rotators button {
    transition: var(--shortTransition) ease-in-out;
    transition-property: opacity, color;
    pointer-events: all;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    line-height: 100%;
    background: none;
    padding: calc(1.25 * var(--defaultGap));
    color: hsl(var(--linkColorLightHSL));
    border: none;
    outline: none;
}

rotators button:hover {
    color: white;
}

spot rotators button:first-of-type {
    padding-left: 5px;
}

spot rotators {
    opacity: 1;
    position: absolute;
    z-index: 100;
    padding: 0px 0px 0px;
    width: var(--cardSize);
    margin-top: 0px;
    pointer-events: none;
}

spot.empty rotators, spot.empty:hover rotators, .guessing spot.empty:hover rotators {
    opacity: 0;
}

.guessing spot:hover rotators, .guessing spot.selected rotators {
    opacity: 1;
}

.guessing spot rotators {
    pointer-events: all;
}

spot rotators:last-of-type {
    scale: -1;
    transform: translateY(28px);
}

spot rotators button, spot.empty rotators button:hover {
    opacity: 0;
    font-size: 100%;
    padding: 3px 6px 6px 3px;
    transition: var(--shortTransition) ease-in-out;
    transition-property: opacity, color;
    transform: translateY(-2px);
    color: hsl(var(--linkColorDarkHSL));
    pointer-events: none;
}

.guessing spot rotators button, .guessing spot.empty rotators button:hover {
    pointer-events: all;
    opacity: 1;
}

spot rotators button:hover {
    color: black;
}

parking {
    display: flex;
    gap: var(--defaultGap);
    flex-direction: column;
    padding: var(--defaultGap);
}


cards {
    display: flex;
    transition: var(--longTransition) ease-in-out;
    transition-property: transform, rotate, opacity;
    padding: var(--defaultGap);
    background: hsl(var(--trayBackgroundHSL));
    width: calc(var(--cardSize) * 2 + var(--defaultGap));
    height: calc(var(--cardSize) * 2 + var(--defaultGap));
    flex-wrap: wrap;
    border-radius: calc(2 * var(--borderRadius));
    gap: var(--defaultGap);
    /* border: 1px dashed hsl(var(--appForegroundHSL)); */
    box-shadow: var(--trayDropShadow);
}

spot {
    display: block;
    width: var(--cardSize);
    height: var(--cardSize);
    outline: 1px dashed transparent;
    border-radius: var(--borderRadius);
    pointer-events: none;
}

.guessing spot {
    pointer-events: all;
}

spot.empty {
    outline: 1px dashed hsla(var(--hueMain), 70%, 90%, .2);
}

.guessing spot.empty {
    outline: 1px dashed hsla(var(--hueMain), 70%, 90%, .7);
}

spot.empty card {
    background: transparent;
    box-shadow: none;
    cursor: default;
}

parking spot {
    background: rgba(0, 0, 0, .1);
}

card {
    background: hsla(var(--hueMain), 70%, 90%, 1);
    box-shadow: var(--cardDropShadow);
    display: block;
    width: var(--cardSize);
    height: var(--cardSize);
    border-radius: var(--borderRadius);
    user-select: none;
    -webkit-user-select: none;
    cursor: grab;
    color: hsl(var(--hueMain), 40%, 17%);
    z-index: 200;
    touch-action: none;
}

card.ghost {
    transition: 0ms ease-in 0ms opacity;
    position: fixed;
    top: calc(-.5 * var(--cardSize));
    left: calc(-.5 * var(--cardSize));
    opacity: 0;
    pointer-events: none;
    z-index: 200;
}

card.ghost.show {
    transition: 0ms ease-in 150ms opacity;
    opacity: .9;
}

card.rotating {
    transition: var(--shortTransition) ease-in-out all;
}

card.selected {
    background: white;
}

card.dropped, card.selected.dropped {
    animation: pulse var(--longTransition) ease-in;
    -webkit-animation: pulse var(--longTransition) ease-in;
}

.empty card.dropped, cards .empty card.dropped {
    animation: none;
    -webkit-animation: none;
}

@keyframes pulse {
    0% {
        background: hsl(var(--highlightColorHSL));
    }

    30% {
        background: hsl(var(--highlightColorHSL));
    }

    100% {
        background: hsla(var(--hueMain), 70%, 90%, 1);
    }
}

@-webkit-keyframes pulse {
    0% {
        background: hsl(var(--highlightColorHSL));
    }

    30% {
        background: hsl(var(--highlightColorHSL));
    }

    100% {
        background: hsla(var(--hueMain), 70%, 90%, 1);
    }
}


hints {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    font-size: 130%;

}

hints hint {
    display: block;
    position: absolute;
    height: var(--wordHeight);
    background: hsl(var(--trayBackgroundHSL));
    padding: calc(var(--defaultGap) / 4) calc(var(--defaultGap) / 4) calc(var(--defaultGap));
    width: calc(1.75 * var(--cardSize));
    border-radius: calc(var(--borderRadius) * 2) calc(var(--borderRadius) * 2) 0 0;
    box-shadow: var(--trayDropShadow);
}

hints hint input {
    text-align: center;
    outline: none;
    border: none;
    background: none;
    color: white;
    font-family: 'Written';
    width: 100%;
    line-height: 120%;
    padding: 0;
    font-size: 150%;
    /* text-transform: uppercase; */
}

.guessing hints hint input:disabled {
    opacity: 1;
    color: hsl(var(--appForegroundHSL));
}

.guessing input, .guessing hints hint input {
    user-select: none;
    -webkit-user-select: none;
}

hints hint input::placeholder {
    color: rgba(255, 255, 255, .50)
}


hints hint:nth-child(1) {
    rotate: 0deg;
    transform: translate(0px, calc(-1.825 * var(--wordHeight)));
}

hints hint:nth-child(2) {
    rotate: 90deg;
    transform: translate(calc(var(--cardSize) + (var(--defaultGap) / 5)), calc(-1 * var(--cardSize) + calc(var(--wordHeight) * -1.91)));

}

hints hint:nth-child(3) {
    rotate: -90deg;
    transform: translate(calc(-1 * var(--cardSize) - var(--defaultGap) / 5), calc(-1 * var(--cardSize) + calc(var(--wordHeight) * -1.91)));
}

hints hint:nth-child(4) {
    rotate: 180deg;
    transform: translate(0px, calc(var(--cardSize) * -2.33));
}

card.empty {
    background: transparent;
    box-shadow: none;
}

card menu {
    display: block;
    width: calc(.5 * var(--cardSize));
    height: calc(.5 * var(--cardSize));
    padding: 0;
    position: absolute;
}

words {
    display: block;
}

word {
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    text-align: center;
    width: var(--cardSize);
    overflow: hidden;
    height: var(--wordHeight);
    font-size: 90%;
    text-transform: capitalize;
}

/* tray spot:nth-child(2) {
    rotate: 90deg;
}

tray spot:nth-child(4) {
    rotate: 180deg;
}

tray spot:nth-child(3) {
    rotate: -90deg;
} */

word:nth-child(1) {
    rotate: 0deg;
}

word:nth-child(2) {
    transform: translate(calc((var(--cardSize) / 2) - (var(--wordHeight) / 2)), calc(-1 * (var(--cardSize) / 2) + calc(var(--defaultGap) * 1) - 5px));
    rotate: 90deg;
}

word:nth-child(3) {
    transform: translate(0, calc(-1 * (var(--cardSize) / 1) + calc(var(--defaultGap) * 1.5)));
    rotate: 180deg;
}

word:nth-child(4) {
    transform: translate(calc(-1 * (var(--cardSize) / 2) + calc(var(--defaultGap) * 1) - 5px), calc(-1 * (var(--cardSize) / 2) + calc(var(--defaultGap) * 1) - 5px));
    rotate: -90deg;
}

modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    flex-wrap: wrap;
    background: rgba(0, 0, 0.9);
    opacity: 1;
    justify-content: center;
    align-items: center;
    z-index: 300;
    transition: var(--shortTransition) ease-in-out opacity;
    transition-delay: 50ms;
}


modal.disabled {
    opacity: 0;
}

modal cards {
    background: none;
    box-shadow: none;
    height: auto;
    pointer-events: all;
    transition: 0 linear all;
    transition-delay: 150ms;
}

modal.disabled cards {
    pointer-events: none;
}

modal cards card {
    background: white;
}

modal cards card.intray {
    opacity: .5;
}

modal::-webkit-scrollbar {
    display: none;

    -ms-overflow-style: none;
    scrollbar-width: none;

    touch-action: auto;
    scroll-behavior: smooth;
}

.disabled {
    pointer-events: none;
    opacity: .3;
}

@media screen and (max-height:780px) {

    wrapper {
        padding: 0
    }

    wrapper:first-of-type {
        margin-bottom: var(--defaultGap);
        padding: calc(var(--defaultGap)) 0;
    }

    controls {
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;
    }

    controls button {
        width: auto;
        height: 100%;
        padding: 0 var(--defaultGap) 0;
    }

    header {
        width: auto;
        padding: 0;
    }

    header h1 {
        letter-spacing: 1px;
        font-size: 180%;
    }

    header subtitle {
        display: none;
        font-size: 70%;
    }

    rotators {
        padding: calc(.5 * var(--defaultGap)) 0px;
    }
}

@media screen and (max-width:640px) {

    :root {
        --wordHeight: 26px;
        --cardSize: 130px;
    }

    body {
        font-size: 90%;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    app {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    wrapper {
        padding: calc(var(--defaultGap) / 2) 0 0;
        overflow: hidden;
    }

    wrapper:first-of-type {
        padding: calc(var(--defaultGap)) 0;
        margin-bottom: calc(2 * var(--defaultGap));
        gap: 0px;

    }

    controls {
        padding: 0;
        width: auto;
        height: 100%;
    }

    controls button {
        width: auto;
        height: 100%;
        padding: 0 var(--defaultGap) 0;
    }

    header {
        width: auto;
        padding: 0 var(--defaultGap);
    }

    header h1 {
        letter-spacing: 1px;
        font-size: 280%;
    }

    header subtitle {
        display: none;
        font-size: 100%;
    }

    message {
        font-size: 130%;
        padding: 0;
        margin: 0;
        line-height: 130%;
    }

    rotators {
        padding: calc(2 * var(--defaultGap)) 0px;
        width: 440px;
        min-width: 440px;
    }

    spot rotators {
        min-width: unset;
        font-size: 146%;
    }

    word {
        font-size: 100%;
        line-height: 180%;
    }


    word:nth-child(2) {
        transform: translate(calc((var(--cardSize) / 2) - (var(--wordHeight) / 2)), calc(-1 * (var(--cardSize) / 2) + calc(var(--defaultGap) * 1) - 7px));
    }

    word:nth-child(3) {
        transform: translate(0, calc(-1 * (var(--cardSize) / 1) + calc(var(--defaultGap) * 1.3)));
    }

    word:nth-child(4) {
        transform: translate(calc(-1 * (var(--cardSize) / 2) + calc(var(--defaultGap) * 1) - 7px), calc(-1 * (var(--cardSize) / 2) + calc(var(--defaultGap) * 1) - 7px));
    }

    hints hint {
        padding: calc(var(--defaultGap) / 4) calc(var(--defaultGap) / 4) calc(var(--defaultGap));
        width: calc(1.6 * var(--cardSize));
    }

    hints hint input {
        font-size: 170%;
        line-height: 120%;
    }

    hints hint:first-of-type input {
        pointer-events: all;
    }

    hints hint:nth-child(1) {
        transform: translate(0px, calc(-1.93 * var(--wordHeight)));
    }

    hints hint:nth-child(2) {
        transform: translate(calc(var(--cardSize) + (var(--defaultGap) / 5)), calc(-1 * var(--cardSize) + calc(var(--wordHeight) * -2.1)));

    }

    hints hint:nth-child(3) {
        transform: translate(calc(-1 * var(--cardSize) - var(--defaultGap) / 5), calc(-1 * var(--cardSize) + calc(var(--wordHeight) * -2.1)));
    }

    hints hint:nth-child(4) {
        transform: translate(0px, calc(var(--cardSize) * -2.46));
    }

    parking {
        display: none;
    }

}